@model AuctionViewModel
@{
    var auctionUrl = Url.Auction(Model);
}

<a href="@auctionUrl">
    @Html.Thumbnail(Model.Image, Model.Title)
    <h3>@Model.Title</h3>
    <p>
        <span>Closing in: </span>
        <span class="time-remaining" title="@Model.EndTimeDisplay">@Model.RemainingTimeDisplay</span>
    </p>
    <p>
        <strong>Current Price: </strong>
        <span class="current-bid-amount">@Model.CurrentPrice</span>
        <span class="current-bidder">@Model.WinningBidUsername</span>
    </p>
</a>