@model HomepageViewModel
@{
    const string SiteName = "EBuy: The ASP.NET MVC Demo Site";
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@SiteName</title>
        <link href="@Url.Content("~/Content/Homepage.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(SiteName, "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LogOnPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @foreach (CategoryViewModel category in ViewBag.Categories) { 
                                <li><a href="@Url.Category(category.Key)">@category.Name</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <h1>@ViewBag.TestValue</h1>
            <section class="welcome-banner">
                
                <div id="categories-container">
                    <h2>Categories</h2>
                    <ul id="categories" class="content-wrapper">
                        @foreach (var category in Model.Categories)
                        {
                            <li class="category"><a href="@Url.Category(category)">@category.Name</a> (@category.AuctionsCount)</li>
                        }
                    </ul>
                </div>
                
                <div id="featured-auctions">
                    <h2>Featured Auctions</h2>
                    @Html.Action("FeaturedAuctions", "Auctions")
                </div>

            </section>
            
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @SiteName</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
