@model Ebuy.Product
<div>
    <div class="thumbnail">
        <a href="@Url.Action("Index", "Product", new RouteValueDictionary() { {"key", Model.Key} })">
            <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name"/>
        </a>
    </div>
    <div class="data">
        <h4 class="title"><a href="@Url.Action("Index", "Product", new RouteValueDictionary() { {"key", Model.Key} })">
            @Model.Name
        </a></h4><span class="">Auction closing in <span class="closingTime">00d:5h:45m</span>
        </span>
        <br />
        <span><strong>Current Bid: </strong>$30.14
            <br />
            user1394 </span>
        <br />
        <span><a href="StartNewAuction()">Bid Now</a></span>
    </div>
</div>
