@model AuctionViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

<div class="overview">
    <div class="product-image">
        @Html.Image(Model.Image, Model.Title)
    </div>

    <p>
        Closing in <span class="time-remaining">@Model.RemainingTimeDisplay</span>
    </p>
    <div>
        @Html.ActionLink("Bid History", "Bids", "Auctions", new { key = Model.Key }, new { @class = "show-bid-history" })
    </div>
    <p>
        <strong>Current Bid: </strong>
        <span class="current-bid-amount">@Model.WinningBidPrice</span>
        <span class="current-bidder">@Model.WinningBidUsername</span>
    </p>
    
@if (Model.HasSuccessfulBid)
{
    <p class="successful-bid-notification">
        Congratulations - you are the new high bidder at @Model.SuccessfulBid.Amount!
    </p>
}

    <p>
        @using (Html.BeginForm("PlaceBid", "Auctions", new { key = Model.Key }))
        {
            <label for="bid-amount">Amount: </label>
            <input name="amount" type="text" value="@Model.MinimumBidValue" required="true" autocomplete="false" autofocus="true" min="@Model.MinimumBid.Value" />
            <span class="hint">Must be at least @Model.MinimumBid</span>
            
            <input type="submit" value="Bid Now" />
        }
    </p>


</div>

<h3>Description</h3>
<div class="description">
    @Model.Description
</div>

<script type="text/javascript" src="@Url.Content("~/scripts/auction.js")"></script>